html {
  background: linear-gradient(
    -45deg,
    rgb(76, 93, 86),
    rgb(85, 83, 65),
    rgb(98, 83, 74),
    rgba(50, 67, 91, 1)
  );
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.homepageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
  backdrop-filter: blur(1.2px);
  height: 1000px;
}
.hp-h1 {
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  color: #f3f2f5;
  filter: brightness(500%);
  text-shadow: 4px 4px 0 rgba(2, 1, 1, 0.952);
}
.homepage-p {
  margin: 0 90px;
  text-align: center;
  font-size: 1.9rem;
  color: #f3f2f5;
  font-family: "Eczar", serif;
  filter: brightness(500%);
  text-shadow: 4px 4px 0 rgba(2, 1, 1, 0.952);
}

.divButton {
  display: flex;
  align-self: center;
  margin-top: 5%;
  position: relative;
  /* overflow: hidden; */
}

/* BUTTON STYLE AND ANIMATION */
.start-btn {
  background-color: transparent;
  border: 2px solid #f3f2f5;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  text-decoration: none;
}

.link-btn {
  color: #f3f2f5;
  text-shadow: 4px 4px 0 rgba(2, 1, 1, 0.952);
}
.link-btn,
.start-btn {
  width: 100%;
  text-decoration: none;
}
.link-btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(165, 140, 126, 0.404);
}

.link-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    10deg,
    transparent,
    rgba(165, 140, 126, 0.363),
    transparent
  );
  transition: all 50ms;
}

.link-btn:hover:before {
  left: 1%;
}
/* The button animation was partially taken from Kwin Studio code example */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .homepageDiv {
    margin-top: 10%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .homepageDiv {
    height: fit-content;
    margin-top: 30px;
  }
  .hp-h1 {
    font-size: 1.5rem;
  }

  .homepage-p {
    font-size: 1.5rem;
    margin: 0 10px;
  }
}
